div#left {
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    color: #333;
    background: #f9f7ed;
    position: absolute;
    padding:5%
}

div#right {
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    color: #000;
    background: #ffffff;
    position: absolute;
}

div#rightCanvas {
     background-color: #f9f7ed;
    border: 1px solid #e0ded7;
    height:90%;
    overflow: auto;
    margin: 20px;   
    /*padding:80px;*/
}
div#innerRightCanvas {
    width:100%;height:100%;   
}


/*table.table td {
    text-align: center;
}*/
table.table .radio {
    margin-top: 0px;
}
table.table {
    background:#eee;
}